@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-primaria);
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: aliceblue;
    --cor-terciaria: #c0b2b2;

    --fonte-primaria: 'Playfair Display SC', serif;
    --fonte-secundaria: 'Fira Sans', sans-serif;


}


.about__cabecalho {

    background-color: var(--cor-primaria);
    max-height: 50%;

}

.about__cabecalho__menu__lista {
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 10%;


}

.about__cabecalho__menu__link {
    font-family: var(--fonte-primaria);

    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;
}


.about__apresentacao {

    background-color: var(--cor-primaria);
    /*margin: 5%;*/
    display: flex;
    /* width: 100%; */
    max-width: 200rem;
    max-height: 200rem;

    /* width: 50%; */

}

.about__apresentacao__conteudo {
    /* margin: 1% 15% 0% 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.about__apresentacao__conteudo__titulo {
    font-size: 2.18rem;
    font-family: var(--fonte-primaria);
    font-weight: 300;
    color: var(--cor-secundaria);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.about__apresentacao__conteudo__texto {
    color: var(--cor-secundaria);
    font-size: 1.56rem;
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    text-align: justify;
    line-height: 2.0;
    margin: 0 2.5rem;

}

.autoretrato {
    /* padding: 5% 10% 40%;
margin: 0; */
    max-width: 20rem;
    max-height: 20rem;
    padding-right: 0.5rem;
    padding-top: 120px;

    /* max-width: 50%;
   
    object-fit: cover;
    object-position: bottom; */

    /* max-height: 31.25rem; */
}

@media(max-width:500px) {

    .about__cabecalho__menu__link {
        font-size: 1rem;
    }


    .about__apresentacao__conteudo {
        /* gap: -5px; */
    }

    .autoretrato {
        max-width: 30rem;
        max-height: 20rem;



    }

    .about__apresentacao__conteudo__titulo {
        font-size: 1.25rem;

    }

    .about__apresentacao__conteudo__texto {
        color: var(--cor-secundaria);
        font-size: 0.87rem;
        font-family: var(--fonte-secundaria);
        font-weight: 300;
        text-align: justify;
        line-height: 2.0;
        margin: 0 2.5rem;
    }


}

@media(max-width:740px) {

    .about__cabecalho__menu__link {
        font-size: 1rem;
    }

    .about__apresentacao {
        /* display: flex;
        flex-direction: column-reverse;
        align-items: center; */
        display: flex;


        align-items: center;

        flex-direction: column-reverse;


    }

    .autoretrato {
        max-width: 30rem;
        max-height: 20rem;
    }

    .about__apresentacao__conteudo__titulo {
        font-size: 1.80rem;
    }

    .about__apresentacao__conteudo__texto {
        color: var(--cor-secundaria);
        font-size: 1rem;
        font-family: var(--fonte-secundaria);
        font-weight: 300;
        text-align: justify;
        line-height: 2.0;
        margin: 0 2.5rem;
    }
}